.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.shippingCheckbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group input[type='checkbox'] {
  width: auto;
  margin-right: 0.5rem;
}
